[submodule "LoneWolf_Archiver_Lib/zopfli"]
	path = LoneWolf_Archiver_Lib/zopfli
	url = https://github.com/google/zopfli.git
[submodule "LoneWolf_Archiver_Lib/ThreadPool"]
	path = LoneWolf_Archiver_Lib/ThreadPool
	url = git@github.com:lone-wolf-akela/ThreadPool.git